$btn-padding: 16px;
$btn-border: 1px solid var(--lightgray);
$btn-radius: 16px;
$btn-width: 240px;

.ref-nav {
  width: $btn-width;
  padding: $btn-padding;
  border: $btn-border;
  background-color: var(--highlight);
  border-radius: $btn-radius;

  li {
    list-style-type: none;
  }

  .title {
    margin-bottom: 4px;
    font-family: var(--headerFont);
  }

  &:hover {
    background-color: var(--light);
    border-color: var(--dark);
    transform: scale(1.05);
    transition: all 0.5s;
  }

  &.next {
    margin-left: auto;
  }
}
