.mt-0 {
  margin-top: 0;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.font-bold {
  font-weight: bold;
}

.primary {
  color: var(--dark);
}

.secondary {
  color: var(--secondary);
}

.tertiary {
  color: var(--tertiary);
}
